.content {
  width: 100%;
  height: 100%;
}

.our-service {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.our {
  height: 100%;
  width: 50%;
  padding-top: 20px;
  padding-left: 30px;
}

.our .s {
  font-family: "Saira Condensed", sans-serif;
  color: rgb(128, 128, 225);
  display: block;
  margin: 10px;
}

.our .h {
  font-family: "Saira Condensed", sans-serif;
  margin: 10px;
}

.con {
  height: 100%;
  width: 50%;
}

.get {
  border: 2px solid yellow;
  font-family: "Saira Condensed", sans-serif;
  color: rgb(128, 128, 225);
  font-weight: 600;
  margin: 20px;
  width: 160px;
  height: 50px;
  padding: 15px;
  margin-left: 400px;
}

.cards {
  width: 100%;
  height: 100%;
  background-color: #FAD110;
}

svg {
  margin: 15px;
  background-size: 20px;
  font-size: 20px;
  width: 35px;
  height: 35px;
}

.cardleft {
  width: 30%;
  height: 450px;
  border: 1px solid black;
  top: 25px;
  margin-left: 2.7%;
  float: left;
  box-shadow: 5px 10px 18px #888888;
  border: none;
}

.cardmiddle {
  width: 30%;
  height: 450px;
  border: 1px solid black;
  top: 25px;
  margin-left: 2%;
  float: left;
  box-shadow: 5px 10px 18px #888888;
}

.cardright {
  width: 30%;
  height: 450px;
  border: 1px solid black;
  top: 25px;
  margin-left: 2%;
  float: left;
  margin-bottom: 30px;
  box-shadow: 5px 10px 18px #888888;
}

.cheader {
  width: 100%;
  height: 220px;
  background-image: url("./services-1.jpg.webp");
  background-size: cover;
  margin: auto;
}

.cbody {
  width: 100%;
  height: 45px;
  text-align: center;
  /* padding: 20px; */
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding-top: 30px;
}

.class {
  width: 70px;
  height: 70px;
  background-color: #FAD110;
  position: absolute;
  top: 530px;
  left: 950px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
          clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
}

.square {
  width: 70px;
  height: 70px;
  background-color: #FAD110;
  position: absolute;
  top: 530px;
  left: 170px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
          clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
}

.square1 {
  width: 70px;
  height: 70px;
  background-color: #FAD110;
  position: absolute;
  top: 530px;
  left: 570px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
          clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
}

.square2 {
  width: 70px;
  height: 70px;
  background-color: #FAD110;
  position: absolute;
  top: 530px;
  left: 950px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
          clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
}

.square i {
  position: absolute;
}

.mr {
  font-size: 20px;
  font-family: "Saira Condensed", sans-serif;
  padding: 10px;
}

.ml {
  font-size: 13px;
  color: rgb(150, 136, 136);
  font-family: "Saira Condensed", sans-serif;
  padding: 10px;
  margin: 10px;
}

a {
  font-size: 15px;
  color: black;
  font-family: "Saira Condensed", sans-serif;
}

.cheader1 {
  width: 100%;
  height: 220px;
  background-image: url("./services-3.jpg.webp");
  background-size: cover;
  margin: auto;
}

.cheader2 {
  width: 100%;
  height: 220px;
  background-image: url("./services-7.jpg.webp");
  background-size: cover;
  -o-object-fit: fill;
  object-fit: fill;
  margin: auto;
}

.information {
  width: 100%;
  height: 50%;
  background-color: #142336;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info1 {
  width: 25%;
  height: 100%;
  padding: 50px;
}

.info2 {
  width: 25%;
  height: 100%;
  padding: 50px;
}

.info3 {
  width: 25%;
  height: 100%;
  padding: 50px;
}

.im {
  padding: 10px;
  padding-left: 50px;
}

.info4 {
  width: 25%;
  height: 100%;
  padding: 50px;
}

.infoc {
  font-size: 50px;
  color: white;
  margin: 10px;
  padding-left: 30px;
}

.infoa {
  font-size: 20px;
  color: #4586D5;
  padding-left: 10px;
}

.footer11 {
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  top: 3050px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=landing.css.map */