$width:100%;
$height:100%;

.content{
    width: $width;
    height: $height;
    // background-color: #b30c0f;
}

.our-service{
    width: $width;
    height: 30%;
    // background-color: #e76615;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

}

.our{
    height: $height;
    width: 50%;
    padding-top: 20px;
    padding-left: 30px;
}
.our .s{
    font-family: "Saira Condensed", sans-serif;
    color: rgb(128, 128, 225);
    display: block;
    margin: 10px;
}
.our .h{
    font-family: "Saira Condensed", sans-serif;
    margin: 10px;
}
.con{
    height: $height;
    width: 50%;
    margin-right: 100px;
}
.get{
    border: 2px solid yellow;
    font-family: "Saira Condensed", sans-serif;
    color: rgb(128, 128, 225);
    font-weight: 600;
    margin: 20px;
    width: 160px;
    height: 50px;
    padding: 15px;
    margin-left: 400px;
}
.cards {
    width: 100%;
    height: 90%;
  }
  svg{
    margin: 15px;
    // background-color: azure;
    background-size: 20px;
    font-size: 20px;
    width: 35px;
    height: 35px;
  }
  .cardleft {
    width: 30%;
    height: 450px;
    border: 1px solid black;
    top: 25px;
    margin-left: 2.7%;
    float: left;
    box-shadow: 5px 10px 18px #888888;
    border: none;
  }
  
  .cardmiddle {
    width: 30%;
    height: 450px;
    border: 1px solid black;
    top: 25px;
    margin-left: 2%;
    float: left;
    box-shadow: 5px 10px 18px #888888;
    border: none;
  }
  
  .cardright {
    width: 30%;
    height: 450px;
    border: 1px solid black;
    top: 25px;
    margin-left: 2%;
    float: left;
    margin-bottom: 30px;
    box-shadow: 5px 10px 18px #888888;
    border: none;
  }
  
  .cheader {
    width: 100%;
    height: 220px;
    background-image: url("./services-1.jpg.webp");
    background-size: cover;
    margin: auto;
    // background-color: #741515;
  }
  
  .cbody {
    width: 100%;
    height: 45px;
    text-align: center;
    /* padding: 20px; */
    // font-weight: 800;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    padding-top: 30px;
  }
 
.class{
   width: 70px;
  height: 70px;
  background-color: #FAD110;
  position: absolute;
  top: 530px;
  left: 950px;
  clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
}
.square{
    width: 70px;
    height: 70px;
    background-color: #FAD110;
    position: absolute;
    top: 530px;
    left: 170px;
    clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
}
.square1{
  width: 70px;
  height: 70px;
  background-color: #FAD110;
  position: absolute;
  top: 530px;
  left: 570px;
  clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
}
.square2{
  width: 70px;
  height: 70px;
  background-color: #FAD110;
  position: absolute;
  top: 530px;
  left: 950px;
  clip-path: polygon(0 0, 100% 0%, 100% 63%, 48% 100%, 0 61%);
}
.square i{
  position: absolute;
}
.mr{
    font-size: 20px;
    font-family: "Saira Condensed", sans-serif; 
    padding: 10px;     
}
.ml{
    font-size: 13px;
    color: rgb(150, 136, 136);
    font-family: "Saira Condensed", sans-serif;  
    padding: 10px; 
    margin: 10px;
}
a{
    font-size: 15px;
    color:black;
    font-family: "Saira Condensed", sans-serif;
}
  .cheader1 {
    width: 100%;
    height: 220px;
    background-image: url("./services-3.jpg.webp");
    background-size: cover;
    margin: auto;
    // background-color: #e76615;
  }
  
  .cheader2 {
    width: 100%;
    height: 220px;
    background-image: url("./services-7.jpg.webp");
    background-size: cover;
    // background-color: #b30c0f;
    -o-object-fit: fill;
       object-fit: fill;
    margin: auto;
  }