.qoute {
    width: 100%;
    height: 596px;
    background-color: #4586D5;
}

.qoute_form {
    width: 450px;
    height: 431px;
    margin-left: 16px;
    padding: 55px 15px 80px 15px;
    float: left;
}

.qoute_vedio {
    width: 594px;
    height: 596px;
    background-image: url('newlogos/quote-video.jpg.webp');
    float: right;
    background-position-x: -166px;
}

.qoute_form h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 40px;
    font-family: "Saira Condensed", sans-serif;
}

.row input {
    height: 46px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 20px;
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    margin-bottom: 30px;
}

.nam-row {
    float: left;
}

.phone-row {
    float: right;
}

.row {
    width: 100%;
}

.btn {
    border: none;
    display: inline-block;
    padding: 14px 30px;
    background: #FAD110;
    font-size: 16px;
    font-family: "Saira Condensed", sans-serif;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.message-row {
    height: 110px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    margin-bottom: 24px;
    padding-top: 12px;
    resize: none;
}

::placeholder {
    color: #ffffff;
}

.navbar {
    background-color: black;
    width: 100%;
    height: 100px;
    font-family: "Saira Condensed", sans-serif;
    font-size: 20px;
    font-weight: 200px;
    border-bottom: 1px solid white;
}

.left {
    width: 40%;
    background-color: white;
    height: inherit;
    float: left;
}

.middle {
    width: 180px;
    clip-path: polygon(0 0, 100% 0%, 100% 73%, 48% 100%, 0 71%);
    background-color: black;
    background-size: contain;
    height: inherit;
    text-align: center;
    margin-top: 30px;
    float: left;

}

.middle hr {
    color: white;
    margin-top: 24px;
}

.right {
    width: 550px;
    background-color: white;
    height: inherit;
    float: left;
}

.icon {
    height: inherit;
    width: 25%;
    padding: 40px;
    padding-left: 15px;
    float: left;
}

.icons {
    height: 30px;
    width: 140px;
    margin: auto;
}

.left-menu ul {
    margin-top: 36px;
    margin-right: 27px;
    text-align: right;
}

.left-menu li {
    display: inline;
    border: 1px solid black;
    margin-left: 5px;
    font-size: 17px;
    padding: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: #142336;
}

.left-menu li a {
    text-decoration: none;
    font-size: 18px;
}

.icons .ic {
    margin: -2px;
    font-size: 22px;
    margin-left: 10px;
}

.right-menu {
    width: 50%;
    float: left;
}

.right-menu ul {
    margin-top: 36px;
    margin-right: auto;
    text-align: center;
}

.right-menu li {
    display: inline;
    border: 1px solid black;
    margin-left: 15px;
    font-size: 17px;
    padding: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-left: -17px;
    color: #142336;
}

.right-menu li a {
    text-decoration: none;
    font-size: 18px;
}

.right-contact {
    width: 36%;
    height: inherit;
    float: left;
}

.contact-number {
    margin-top: 19px;
    width: 100%;
    height: 50px;
    padding-top: 7px;
    border: 2px solid #FAD110;
}

.contact-number p {
    margin-top: 4px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 12px;
    color: #4586D5;
}

/*# sourceMappingURL=index.css.map */

  
.row1{
  width: 100%;
  height: 100%;
  display: flex;
  /* margin: 0px; */
  padding-top: 70px;
}
.images{
  width: 40%;
  height: 500px;
}

.smallimg {
    position: absolute;
    margin-top: 120%;
    top: 40px;
    margin-left: 16%;
    border: 10px solid white;

}

.text {
    margin-left: 150px;
    /* background-color: #4586D5; */
    /* margin: 10px; */
}
.para {
    font-size: 18px;
    color: #4586D5;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.head {
    font-size: 40px;
    color: #142336;
    font-weight: 600;
    font-family: "Saira Condensed", sans-serif;
}

.paracontent {
        font-family: "Mulish", sans-serif;
        margin-right: 10%;
}

list>li {
    margin: 10px;
}

.getintouch {
    font-family: "Saira Condensed", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background: transparent;
    margin-top: 14px;
    color: #4586D5;
    border: 2px solid #FAD110;
    padding: 14px 36px 12px;
}

.testimonial {
    margin-top: 190px;
    width: 100%;
    color: white;
    height: 240px;
    background-image: url('./newlogos/installation.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 85px;
}

* {
    font-family: "Mulish", sans-serif;
}

.test_head {

    font-size: 20px;
    font-weight: bold;
}

.testmainhead {
    font-family: "Saira Condensed", sans-serif;
    font-size: 40px;
    margin-top: 0px;

}

.installbtn {
    display: inline-block;
    font-size: 18px;
    color: #142336;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #FAD110;
    padding: 14px 36px 12px;
}

.installbtn:hover {
    color: white;
    cursor: pointer;
}

