
.qoute{
    width: 100%;
    height: 596px;
    background-color: #4586D5;
}
.qoute_form{
    width: 450px;
    height: 431px;
    margin-left: 98px;
    padding: 85px 15px 80px 15px;
    float: left;
}
.qoute_vedio{
    width: 594px;
    height: 596px;
    background-image: url('newlogos/quote-video.jpg.webp');
    float:right;
}

.qoute_form h2{
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 40px;
    font-family:"Saira Condensed", sans-serif;
}
form{
    color: #ffffff;
}
.row input {
    height: 46px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 20px;
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    margin-bottom: 30px;
}
.nam-row{
    float: left;
}
.phone-row{
    float:right;
}

.row{
    width: 100%;
}

.btn{
    border: none;
    display: inline-block;
    padding: 14px 30px;
    background: #FAD110;
    font-size: 16px;
    font-family: "Saira Condensed", sans-serif;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar {
    background-color: black;
    width: 100%;
    height: 100px;
    font-family: "Saira Condensed", sans-serif;
    font-size: 20px;
    font-weight: 200px;
  }
  
  .left {
    width: 40%;
    background-color: white;
    height: inherit;
    float: left;
  }
  
  .middle {
    width: 20%;
    background-size: contain;
    height: inherit;
    text-align: center;
    margin-top: 30px;
    float: left;
  }
  
  .right {
    width: 40%;
    background-color: white;
    height: inherit;
    float: left;
  }
  
  .icon {
    height: inherit;
    width: 25%;
    padding: 40px;
    padding-left: 15px;
    float: left;
  }
  
  .icons {
    height: 30px;
    width: 140px;
    margin: auto;
  }
  
  .left-menu ul {
    margin-top: 36px;
    margin-right: 27px;
    text-align: right;
  }
  .left-menu li {
    display: inline;
    border: 1px solid black;
    margin-left: 5px;
    font-size: 17px;
    padding: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: #142336;
  }
  .left-menu li a {
    text-decoration: none;
    font-size: 21px;
  }
  
  .icons .ic {
    margin: 0px;
    font-size: 22px;
    margin-left: 10px;
  }
  
  .right-menu {
    width: 64%;
    float: left;
  }
  .right-menu ul {
    margin-top: 36px;
    margin-right: auto;
    text-align: center;
  }
  .right-menu li {
    display: inline;
    border: 1px solid black;
    margin-left: 15px;
    font-size: 17px;
    padding: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-left: -17px;
    color: #142336;
  }
  .right-menu li a {
    text-decoration: none;
    font-size: 21px;
  }
  
  .right-contact {
    width: 36%;
    height: inherit;
    float: left;
  }
  
  .contact-number {
    margin-top: 19px;
    width: 100%;
    height: 50px;
    padding-top: 7px;
    border: 2px solid #FAD110;
  }
  .contact-number p {
    margin-top: -1px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 18px;
  }/*# sourceMappingURL=index.css.map */